<div class="wrapper">
    <div class="logo">
        <img src="assets/te-small.jpg" alt="" class="heartbeat-logo">
    </div>
    <div class="text-center mt-4 name">
        Ready2Solve
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="email" id="userName" placeholder="Username" autocomplete="off"
                [(ngModel)]="user.email">        
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" autocomplete="current-password"
                [(ngModel)]="user.password">
        </div>

      <button (click)="signIn()" type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Need Support?</a>
    </div>
        <div class="text-center mt-6 name">
            <small *ngIf="isAuthenticated" class="text-danger">{{authStatus}}</small><br>
            <div *ngIf="loading" class="spinner-border text-secondary" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
</div>