<div id="menu-container" class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" ng-class="{'disabled-link': isDisabled}">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-secondary text-decoration-none">
        <span class="fs-5 d-none d-sm-inline animate-zoom-in">TE-ToolKit</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link align-middle px-0">
                <i class="fs-4 bi-speedometer2" data-bs-toggle="tooltip" title="Dashboard"></i>
                <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>
        <li >
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-clipboard-data" data-bs-toggle="tooltip" title="Bitacora"></i>
                <span class="ms-1 d-none d-sm-inline dropdown-toggle">Reporting</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="/te-health" class="nav-link px-0">
                        <span class="d-none d-sm-inline">TE-Health</span> (HC)
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-person-fill-gear" data-bs-toggle="tooltip" title="Support"></i>
                <span class="ms-1 d-none d-sm-inline dropdown-toggle">Support</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="/support" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Pcap</span> 1
                    </a>
            </ul>
        </li>
        <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle dropdown-toggle">
                <i class="fs-4 bi-hammer" data-bs-toggle="tooltip" title="Bulk Tools"></i>
                <span class="ms-1 d-none d-sm-inline">Tools</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li>
                    <a href="/users" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Bulk-Users</span> (BU)
                    </a>
                </li>
            </ul>
        </li>
        <li >
            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle dropdown-toggle">
                <i class="fs-4 bi-file-earmark-code" data-bs-toggle="tooltip" title="Scripts"></i>
                <span class="ms-1 d-none d-sm-inline">Scripts</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-0">
                        <span class="d-none d-sm-inline">Agents</span> (EAS)
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/bitacora" class="nav-link px-0 align-middle animate-fade-in">
                <i class="fs-4 bi-clipboard-data-fill" data-bs-toggle="tooltip" title="Feedback"></i>
                <span class="ms-1 d-none d-sm-inline">Bitacora</span>
            </a>
        </li>
        <br>
        <br>
        <hr class="w-100">
        <li>
            <a href="#" class="d-flex align-items-center text-white text-decoration-none animate-bounce-in" id="dropdownUser1" aria-expanded="false">
            <i class="fs-4 bi-box-arrow-left" data-bs-toggle="tooltip" title="Logout"></i>
            <span class="d-none d-sm-inline mx-1">Logout</span>
        </a>
        </li>
    </ul>
</div>

